<h2> user name : {{username}}</h2>
User Name : <input type = "text" [(ngModel)] = "name"><br>

new name is <h3>{{name}}</h3>

<button class = "button" value ="changename" (click)="changemyname()">Click Me</button>

<select placeholder = "select from list" [(ngModel)]= "selectedValue" (change)="onChange($event)">
  <option value="surendra">surendra</option>
  <option value="german">german</option>
  <option value="css">css</option>
</select>
<h2>{{selectedValue}}</h2>
<br>Type :<input type="checkbox" value="local" (click)="userChecked($event)">



